.button {}

.button a {
    font-size: 14px;
    padding: 12px 30px;
    border-radius: var(--border-radius-primary);
    letter-spacing: 0.5px;
    transition: all 0.3s;

}

.button.primary-button a {
    color: var(--color-light);
    background-color: var(--color-primary);
}

.button.primary-button a:hover {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
}