:root {
    /*color -g*/
    --color-dark: #27292a;
    --color-darkest: #1f2122;
    --color-light: #fefefe;
    --color-primary: #ec6090;
    /*Color -spicial*/
    --color-bg-body: var(--color-darkest);

    /*ditances -g*/
    --distance-primary: 50px;
    /*ditances -spicial*/
    --padding-primary: var(--distance-primary);
    --margin-primary: var(--distance-primary);

    /*border-radius*/
    --border-radius-primary: calc(var(--distance-primary) / 2);
    /*fonts*/
    /*font-weight*/
    --font-family-primary: 'Poppins', sans-serif;
    --font-weight-bold: 900;
    --font-weight-normal: 400;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

body {
    background-color: var(--color-bg-body);
    font-family: var(--font-family-primary);
}